{% extends 'auctions/base.html' %}
{% load static %}

{% block title %}My Auctions{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/user_auctions.css' %}">{% endblock %}
{% block script %}
    <script src="{% static 'js/user_auctions.js' %}"></script> {% endblock %}
{% block content %}
    <h1>My Auctions</h1>

    <button id="toggleClosedAuctions">Hide Closed Auctions</button>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Current/Final Price</th>
            <th>Winning Bidder</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% for auction in auctions %}
            <tr class="{% if not auction.is_active %}closed-auction{% endif %}">
                <td>{{ auction.title }}</td>
                <td>{% if auction.is_active %}Active{% else %}Closed{% endif %}</td>
                <td>&#8364; {{ auction.current_price }}</td>
                <td>
                    {% if not auction.is_active %}

                        {% if winning_bid %}
                            {{ winning_bid.created_by.email }}
                        {% else %}
                            No bids
                        {% endif %}
                    {% else %}
                        Auction is still active
                    {% endif %}
                </td>
                <td><a class="details-button" href="{% url 'auction_detail' auction.id %}">Details</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">You have no auctions.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>document.getElementById('toggleClosedAuctions').addEventListener('click', function () {
        var closedAuctions = document.querySelectorAll('.closed-auction');
        closedAuctions.forEach(function (auction) {
            auction.style.display = auction.style.display === 'none' ? '' : 'none';
        });
        this.textContent = this.textContent === 'Hide Closed Auctions' ? 'Show Closed Auctions' : 'Hide Closed Auctions';
    });</script>
{% endblock %}